engine-strict=true
auto-install-peers=true
strict-peer-dependencies=false
shamefully-hoist=true
package-import-method=clone-or-copy

# Enforce pnpm
prefer-workspace-packages=true
public-hoist-pattern=* 